 <div class="container"  data-aos="zoom-in-up">
        <div class="slider">
            <div class="sliders" style="--img: url('AnTR.jpg');">
                <div class="content">
                    <h2>An Trương</h2>
                    <p></p>
                </div>
            </div>
            <div class="sliders" style="--img: url('Chúc2.jpg');">
                <div class="content">
                    <h2>Nguyễn Chúc</h2>
                    <p></p>
                </div>
            </div>
            <div class="sliders" style="--img: url('Duyên.jpg');">
                <div class="content">
                    <h2>Duyên Lê</h2>
                    <p></p>
                </div>
            </div>
            <div class="sliders" style="--img: url('Huyền.jpg');">
                <div class="content">
                    <h2>Khánh Huyền</h2>
                    <p></p>
                </div>
            </div>
            <div class="sliders" style="--img: url('Diễm.jpg');">
                <div class="content">
                    <h2>Ngọc Diễm</h2>
                    <p></p>
                </div>
            </div>
            <div class="sliders" style="--img: url('Giang.jpg');">
                <div class="content">
                    <h2>Quỳnh Giang</h2>
                    <p></p>
                </div>
            </div>
            <div class="sliders" style="--img: url('Kim7.jpg');">
                <div class="content">
                    <h2>Thiên Kim</h2>
                    <p></p>
                </div>
            </div>
            <div class="sliders" style="--img: url('Linh.jpg');">
                <div class="content">
                    <h2>Khánh Linh</h2>
                    <p></p>
                </div>
            </div>
            <div class="sliders" style="--img: url('Phương3.jpg');">
                <div class="content">
                    <h2>Nhã Phương</h2>
                    <p></p>
                </div>
            </div>
            <div class="sliders" style="--img: url('Thảo.jpg');">
                <div class="content">
                    <h2>Thanh Thảo</h2>
                    <p></p>
                </div>
            </div>
            <div class="sliders" style="--img: url('Tú.jpg');">
                <div class="content">
                    <h2>Minh Tú</h2>
                    <p></p>
                </div>
            </div>
            <div class="sliders" style="--img: url('Thư.jpeg');">
                <div class="content">
                    <h2>Thư</h2>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="buttons">
            <span class="prev" ng-click="prevSlide()"></span>
            <span class="next" ng-click="nextSlide()"></span>
        </div>
 </div>
 