 <div class="container"  data-aos="zoom-in-up">
        <div class="slider">
            <div class="sliders" style="--img: url('AnTR.jpg');">
                <div class="content">
                    <h2>An</h2>
                    <p></p>
                </div>
            </div>
            <div class="sliders" style="--img: url('Chúc.jpg');">
                <div class="content">
                    <h2>Chúc</h2>
                    <p></p>
                </div>
            </div>
            <div class="sliders" style="--img: url('Duyên.jpg');">
                <div class="content">
                    <h2>Duyên</h2>
                    <p></p>
                </div>
            </div>
            <div class="sliders" style="--img: url('Huyền.jpg');">
                <div class="content">
                    <h2>Huyền</h2>
                    <p></p>
                </div>
            </div>
            <div class="sliders" style="--img: url('Diễm.jpg');">
                <div class="content">
                    <h2>Diễm</h2>
                    <p></p>
                </div>
            </div>
            <div class="sliders" style="--img: url('Giang.jpg');">
                <div class="content">
                    <h2>Giang</h2>
                    <p></p>
                </div>
            </div>
            <div class="sliders" style="--img: url('Kim5.jpg');">
                <div class="content">
                    <h2>Kim</h2>
                    <p></p>
                </div>
            </div>
            <div class="sliders" style="--img: url('Linh.jpg');">
                <div class="content">
                    <h2>Linh</h2>
                    <p></p>
                </div>
            </div>
            <div class="sliders" style="--img: url('Phương3.jpg');">
                <div class="content">
                    <h2>Phương</h2>
                    <p></p>
                </div>
            </div>
            <div class="sliders" style="--img: url('Thảo.jpg');">
                <div class="content">
                    <h2>Thảo</h2>
                    <p></p>
                </div>
            </div>
            <div class="sliders" style="--img: url('Tú.jpg');">
                <div class="content">
                    <h2>Tú</h2>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="buttons">
            <span class="prev" ng-click="prevSlide()"></span>
            <span class="next" ng-click="nextSlide()"></span>
        </div>
 </div>
 