@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Madimi One", sans-serif;
}
.container  {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider{
    position: absolute;
    inset: 80px 200px 80px 80px;
    background: #ccc;
    border-radius: 20px;
}
.slider .sliders{
    position: absolute;
    width: 240px;
    height: 320px;
    top: 50%;
    transform: translateY(-50%);
    background : var(--img);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-start ;
    align-items: flex-end;
}
.slider .sliders:nth-child(1),
.slider .sliders:nth-child(2){
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(0);
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0);
    background-size: cover;

}
.slider .sliders:nth-child(3){
    left: calc(50% + 240px);
    background-size: cover;
}
.slider .sliders:nth-child(4){
    left: calc(50% + 500px);
    background-size: cover;
}
.slider .sliders:nth-child(5){
    left: calc(50% + 760px);
    background-size: cover;
}
.slider .sliders:nth-child(6){
    left: calc(50% + 1020px);
    background-size: cover;
}
.slider .sliders:nth-child(7){
    left: calc(50% + 1280px);
    background-size: cover;
}
.slider .sliders:nth-child(8){
    left: calc(50% + 1540px);
    background-size: cover;
}
.slider .sliders:nth-child(9){
    left: calc(50% + 1800px);
    background-size: cover;
}
.slider .sliders:nth-child(10){
    left: calc(50% + 2060px);
    background-size: cover;
}
.slider .sliders:nth-child(11){
    left: calc(50% + 2320px);
    background-size: cover;
}
.slider .sliders:nth-child(12){
    left: calc(50% + 2580px);
    background-size: cover;
    opacity: 0;
}
.slider .sliders:nth-child(133){
    left: calc(50% + 2840px);
    background-size: cover;
    opacity: 0;
}
.buttons{
    position: absolute;
    bottom: 15px;
    display: flex;
    gap: 20px;
}
.buttons span{
    position: relative;
    width: 50px;
    height: 50px;
    background: #111 ;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.buttons span::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-top: 4px solid #fff;
    border-left: 4px solid #fff;
    transform: rotate(315deg) translate(2px,2px);
}
.buttons span:nth-child(2)::before{
    transform: rotate(135deg) translate(2px,2px);

}
.buttons span:active{
    opacity: 0.5;
}
.content{
    position: relative;
    padding: 40px;
    max-width: 600px;
    transition: 0.25s;
    transition-delay: 0s;
    transform: translateY(40px);
    z-index: 10000;
    opacity: 0;
}
.content h2{
    color: #FAFAD2;

}
.slider .sliders:nth-child(1) .content,
.slider .sliders:nth-child(2) .content{
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.5s;

}
@media(max-width:900px)  {
    .slider{
        position: absolute;
        inset: 40px 40px 200px 40px;
    }
    .slider .sliders{
        width: 100px;
        height: 100px;
        top: initial;
        bottom: -170px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    }
    .slider .sliders:nth-child(1) ,
    .slider .sliders:nth-child(2) {
    top:initial;
    bottom: 0px;
    }
    .slider .sliders:nth-child(3){
        left: 0;

    }
    .slider .sliders:nth-child(4){
        left: 120px;
        
    }
    .slider .sliders:nth-child(5){
        left: 240px;
        
    }
    .slider .sliders:nth-child(6){
        left: 360px;
        
    }
    .slider .sliders:nth-child(7){
        left: 480px;
        
    }
    .slider .sliders:nth-child(8){
        left: 600px;
        
    }
    .slider .sliders:nth-child(9){
        left: 720px;
        
    }
    .slider .sliders:nth-child(10){
        left: 940px;
    }
    .slider .sliders:nth-child(11){
        left: 1060px;
    }
    .slider .sliders:nth-child(12){
        left: 1180px;
    }
    .slider .sliders:nth-child(13){
        left: 1300px;
    }

}
